body{text-align:center;background-color:silver;}
h2{font-weight:bolder;color:red;}
div{text-align:center;}
a:link,a:visited,a:active{line-height:39px;margin-bottom:13px;font-size:20px;text-decoration:none;color:blue;}
a:hover{font-size:35px;color:red;}


